.contenedor {
	width: 90%;
	height: 100vh;
	margin: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mt-8 {
	border: none;
	padding: 5px;
	border: disabled;
	margin-top: 20px;
	width: 100%;
	background: #3b0086;
	color: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.registerLink {
	/* border: none;
	position: fixed;
	padding: 1px;
	margin-top: -60px;
	width: 15%; */
	background: white;
	color: #3b0086;
	border: none;
	padding: 0;
	margin: 0 10px;
	/* border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px; */
}
.registerLink:hover {
	font-weight: 600;
}

p.text-start {
	margin: 0;
}
p.fw-normal {
	text-align: center;
	margin-top: 25px;
}

.formContainer {
	margin: auto;

	width: 50%;
}

.sombra,
.btn2 {
	box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.425);
}

.registroContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding: 25px;

	text-align: center;
	font-weight: 500;
	font-size: 1.1rem;
}

.registroContainer p {
	margin: 0;
	padding: 0;
}
