.arrowButton {
	border: none;
	background: none;
}

#root > form > div > div.text-start > button > i {
	width: 100%;
	font-size: 25px;
	font-weight: 800;
}
/* 
.RegisterContainer {
	width: 80%;
	margin: auto;
	text-align: center;
}

.btn {
	margin-top: 10px;
	width: 100%;
	background: #3b0086;
	color: white;
}


.formContainer {
	margin: auto;
	padding: 20px 0px 25px 0px;
	width: 100%;
}

.form-control,
.btn {
	box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.425);
}


.caja {
	
	margin-bottom: .5em;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
}

.sep{
	margin-bottom: .15em;
}

.bti {
	margin-top: auto;
} */
